*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F9F9;
    font-family: Arial;
}
#main-nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}
.container{
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
}
/* #main-nav .container{

} */
img{
    width: 100%;
}
 .logo{
    width: 100px;
    /* padding-right: 20%; */
} 
#logo i{
    margin-right: 2rem;
    font-size: 20px;
    color: #333;
}
