*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F9F9;
    font-family: Arial;
}
.container{
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    padding: 0.5rem 2rem;
}
